@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dot {
  width: 5px;
  height: 5px;
  @apply rounded-full bg-gray-300;
}

@media (max-width: 576px) {
  .bg-hero {
    width: 500px;
    height: 450px;
    top: -50%;
    @apply absolute rounded-bl-[48px] left-40 bg-lightGrayishBlue;
  }
}
@media (max-width: 468px) {
  .bg-hero {
    width: 500px;
    height: 450px;
    top: -60%;
    @apply absolute rounded-bl-[48px] left-32 bg-lightGrayishBlue;
  }
}
@media (min-width: 1440px) {
  .bg-hero {
    width: 1000px;
    height: 450px;
    top: -60%;
    @apply absolute rounded-bl-[48px]   left-0 bg-lightGrayishBlue;
  }
}

/* Hamburger */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
